/* Profile */
.profile {
    border-style: solid;
    border-color: $light-gray;
    width: 18%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.research {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.mobile-research-image {
    display: none;
}

@include media-query($on-palm) {
  .profile {
    display: none;
  }

  .research {
    display: none;
  }

  .mobile-research-image {
    display: block;
    width: 80%;
    max-width: 520px;
    margin: 0.8rem auto 1.2rem;
  }
}
