<div class="links scroll collapse navbar-collapse">
        <a href="{{site.baseurl}}/">About</a>
        <a href="{{site.baseurl}}/research/">Research</a>
        <!--
        <a href="{{site.baseurl}}/publications/">Publications</a>
        <a href="{{site.baseurl}}/projects/">Projects</a>
        <a href="{{site.baseurl}}/venue/">Venue</a>
        <a href="{{site.baseurl}}/blog/">Blog</a>
        <a href="https://www.linkedin.com/in/lorenzocarnevale/recent-activity/shares/">News</a>
        -->        
        <a href="{{site.baseurl}}/services/">Services</a>
        <a href="{{site.baseurl}}/teaching/">Teaching</a>
        <a href="{{site.baseurl}}/team/">Team</a>
        <a href="{{site.baseurl}}/prosStudents/">Pros.-Students</a>
        <a href="{{site.baseurl}}/resources/">Resources</a>
</div>
<br>